<!DOCTYPE html>
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css">
  <link rel="stylesheet" type="text/css" href="../static/css/card.css">
</head>
<body>
  <!-- Navbar -->
  <div class="dash-nav">
  <h1 id="logo">Polyboard</h1>
  </div>

  <!-- Content -->
  <div class="dash-cards">
    <!-- Sell Cards -->
    <div class="dash-sell">
      {% for i in items %}
      <div class="card">
        <div class="card-text">
          <span id="card-name">John Smith</span>
          <span id="card-price">${{i.price}}</span><br>
          <div class="card-desc">{{i.desc}}</div>
          <div class="card-message">Send a message</div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Travel Card -->
    <div class="dash-ride"></div>
    <!-- Textbook Card -->
    <div class="dash-textbook"></div>
  </div>
</body>
</html>
