<!DOCTYPE html>
<html>
<head>
	<title>PolyBoard</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootsrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-6 left">
			<h1 id="logo">PolyBoard</h1>
			<p id="tag">A bulletin board for Cal Poly students.</p>
		</div>
		<div class="col-md-6 right">
			<form method="POST">
				user:<input type="text" name="user"><br>
				password:<input type="password" name="pass">
				<input type='submit' value='Create'>
			</form>
		</div>
	</div>
</div>
<script src="../static/js/bootstrap.min.js">
</body>
</html>
