<!DOCTYPE html>
<html>
	<head>
		<title>PolyBoard</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	</head>
	<body>
		<div class="headers">
			<h1 id="logo">PolyBoard</h1>
			<p id="tag">A bulletin board for Cal Poly students.</p>
		</div>
		<div class="inputs">
			<form method="POST">
				<input id="username" type="text" name="user" placeholder="username">
				<input id="password" type="password" name="pass" placeholder="password">
				<input id="submit" type='submit' value='login'>
			</form>
		</div>
	</body>
</html>
